[user]
	email = jalucahyoseno@gmail.com
	name = Grydr

[credential]
	helper = "!f() { /home/gryd/.vscode-server/bin/848b80aeb52026648a8ff9f7c45a9b0a80641e2e/node /tmp/vscode-remote-containers-9d20e267-5533-40ec-afe8-91f42575ea71.js git-credential-helper $*; }; f"
	; helper = "!f() { /home/gryd/.vscode-server/bin/91fa95bccb027ece6a968589bb1d662fa9c8e170/node /tmp/vscode-remote-containers-ad4d75f9-6823-44ab-8b78-11af810027af.js git-credential-helper $*; }; f"

[color]
	ui = true

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections
    side-by-side = true

    # delta detects terminal colors automatically; set one of these to disable auto-detection
    # dark = true
    # light = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[init]
	defaultBranch = master
