[user]
	email = jalucahyoseno@gmail.com
	name = Grydr

[color]
	ui = true

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections
    side-by-side = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[init]
	defaultBranch = main
[credential]
	helper = "!f() { /home/gryd/.vscode-server/bin/7d842fb85a0275a4a8e4d7e040d2625abbf7f084/node /tmp/vscode-remote-containers-29354d93-059d-4a54-b92b-f843f8f40540.js git-credential-helper $*; }; f"
