/.config/zim/zim/modules
/.config/nvim/lazy-lock.json
/.config/qtile/__pycache__/*
.config/btop/btop.log
/.config/zim/zim/.latest_version
/.local/bin/gazebo
/.local/bin/tldr
/.local/bin/bat

# Python pip bin ignore
/.local/bin/backend-test-tools
/.local/bin/benchmark_app
/.local/bin/check-model
/.local/bin/check-node
/.local/bin/coloredlogs
/.local/bin/convert-caffe2-to-onnx
/.local/bin/convert-onnx-to-caffe2
/.local/bin/cpuinfo
/.local/bin/f2py
/.local/bin/humanfriendly
/.local/bin/isympy
/.local/bin/mo
/.local/bin/normalizer
/.local/bin/omz_converter
/.local/bin/omz_data_downloader
/.local/bin/omz_downloader
/.local/bin/omz_info_dumper
/.local/bin/onnxruntime_test
/.local/bin/opt_in_out
/.local/bin/ovc
/.local/bin/proton
/.local/bin/proton-viewer
/.local/bin/torchfrtrace
/.local/bin/torchrun
/.local/bin/tqdm
/.local/bin/ultralytics
/.local/bin/yolo
